.folderHeader {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #dee2e6;
  justify-content: space-between;
}

.folderHeader .editButton {
  font-weight: bold;
  color: rgba(171, 113, 25, 1);
  cursor: pointer;
}

.folderHeader .textHeader {
  font-size: large;
  font-weight: bold;
}

.folderContent {
  overflow: auto;
  max-height: 70vh;
  width: 100%;
}
